<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Server_side.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="DownloadFolder" value="C:\Downloads" />
		<add key="Port" value="8080" />
		<add key="DatabaseServer" value="localhost" />
		<add key="DatabaseName" value="myDatabase" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <userSettings>
  <Server_side.Properties.Settings>
   <setting name="agentLogBox" serializeAs="String">
    <value />
   </setting>
  </Server_side.Properties.Settings>
 </userSettings>
</configuration>